/* color palette from <https://github.com/vuejs/theme> */
:root {
  --c-tomato: tomato;
  --c-white-soft: #f2f2f2;
  --c-orange: rgb(255, 164, 53);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--c-tomato);

  --color-border: var(--c-white-soft);
  --color-border-hover: var(--c-white-soft);

  --color-heading: var(--c-white-soft);
  --color-text: var(--c-white-soft);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Avenir,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
