.settingsPanel {
    display: inline-flex;
    z-index: 10;
}

:local(.buttonContainer) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    
    :global(.colorElement) {
        fill: tomato;
    }
}

:local(.settingText) {
    font-weight: 500;
    text-transform: lowercase;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10px;
    width: 10px;

    svg {
        width: 100%;
    }
}